.side-nav{
  width: 240px;
  background: #0a5394;
  position: absolute;
  height: 100vh;
  left: -240px;
  transition: all 0.3s;
}
#show-nav {
  font-size: 30px;
  position: absolute;
  right: 20px;
}
#hide-nav {
  font-size: 30px;
  position: absolute;
  right: -50px;
}
.side-nav.active{
  left: 0;
}

.menu-list-link{
  padding: 0;
  width: 100%;
  margin-top: 40px;
}
.menu-list-link li{
  list-style-type: none;
  margin: 0;
}
.menu-list-link li a{
  width: 100%;
  color: #faefef;
  text-decoration: none;
  font-size: 16px;
  display: block;
  padding: 10px 20px;
}
.menu-list-link li a:hover, .menu-list-link li a.active{
  background: #063864;
}

.content-right {
  margin-left: 300px;
  width: 100%;
}
.content-left {
  margin-left: 100px;
  width: 100%;
}
.active-item-link {
  background-color: #3d8dd5;
}
