.header-page {
  background-image: url(./../img/bg-top.png);
  background-repeat: repeat-x;
  background-size: contain;
  height: 100px;
}

ul li {
  margin-left: 20px;
}
.mr-5px{
  margin-right: 5px;
}
.show-menu {
  z-index: 99999;
}
.menu {
  width: 180px;
  background-image: url(./../img/bg_menu_hover.png);
  padding: 5px;
  position: absolute;
  display: none;
}

.menu .list-menu {
  border: 2px solid #999;
  padding: 2px 10px 10px 10px;
}

.menu .list-menu a {
  color: white;
  font-size: 16px;
  text-decoration: none;
  margin-top: 8px;
}
.menu .list-menu a:hover,
.menu .list-menu a:active {
  color: red;
  list-style: none;
}

.show-menu:hover .menu {
  display: block;
}

.active-link {
  color: red
}
.nav-item:nth-child(5) {
  margin-right: 15px;
}
#VN, #EN{ 
  color: white;
  box-shadow: 0 0 0 0 black;
  width: 40px;
  text-align: center;
  line-height: 22px;
  padding: 0 0.5rem;
}
#VN{
  background: gray;
  border-radius: 16% 0 0 16%;
}
#EN{
  background: rgb(235, 40, 40);
  border-radius: 0 16% 16% 0;
  margin-left: 0;
}
.search-buy-infor{
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 10px;
  right: 50px;
}
.buy-tickets{
  margin-left: 20px;
  justify-content: flex-start;
}
.news{
  align-content: center;
  margin-top: 35px;
}