.home {
  margin: 20px auto;
  position: relative;
  z-index: -99999px;
}

/* .movie-selection */
.movie-selection {
  margin: 20px 0;
}

.movie-selection .movie-selection-title,
.event-selection .event-selection-title {
    background: url(./../img/bg_h3_line.jpg) repeat-x scroll left center rgba(0, 0, 0, 0);
    height: 60px;
    text-align: center;
    width: 100%;
}


.movie-selection-title h2 {
  height: 60px;
  z-index: -99999px;
}

.btn-trailer, .product-content {
  display: none;
}

.product:hover .btn-trailer,
.product:hover .product-content {
  display: block;
}

.event-selection-title h2 {
  height: 60px;
  z-index: -99999px;
}


.slick-prev:before, .slick-next:before {
  color: red !important;
}
