.movie-playing .breadcrums {
  background-color: #f1f0e5;
  border-bottom: 1px solid #cacac0;
  padding: 5px 0;
  margin: 0;
  width: 100%;
}

.movie-playing .breadcrums ul{
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
}

.movie-playing .breadcrums ul li {
  margin: 0;
}

.movie-playing .breadcrums ul li.home a {
  background: url(./../img/bg-cgv-bread-home.png) no-repeat scroll left center transparent;
  text-indent: -9999px;
  padding: 0 9px;
  width: 17px;
  height: 15px;
}

.movie-playing .breadcrums ul li span {
  background: url(./../img/bg-cgv-icon-arrow.png) no-repeat scroll center center transparent;
  text-indent: -9999px;
  padding: 0 15px;
  display: inline-block;
  float: none;
}

.movie-playing .page-title {
  border-bottom: 3px solid #241d1e;
  margin-bottom: 35px;
}

.movie-playing .page-title h1 {
  color: #222;
  font-size: 38px;
  font-weight: normal;
  padding: 20px 0 10px;
}

/* Main */
.movie-playing .main .category-product ul {
  list-style-type: none;
  padding: 0;
}

.movie-playing .main .category-product ul li {
  margin: 0 0 20px;
}

.movie-playing .main .category-product .add-to-links .button {
  outline: none;
  cursor: pointer;
  background: #e71a0f;
  display: inline-block;
  padding: 6px 2px;
  border: 0;
  color: #FFFFFF;
  font-size: 13px;
  font-weight: normal;
  font-family: "Helvetica Neue", Verdana, Arial, sans-serif;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  white-space: nowrap;
  margin: 0 10px;
}

.movie-playing .main .category-product .add-to-links .button > span {
  border: 1px solid #f07469;
  font-weight: bold;
  padding: 5px;
}

.movie-playing .main .category-product .add-to-links .btn-booking {
  background: none no-repeat scroll 0 0 #e71a0f;
  border-radius: 5px;
}

.movie-playing .main .category-product .add-to-links .btn-booking > span {
  padding-left: 25px;
  background: url(./../img/bg-cate-booking.png) no-repeat scroll left center rgba(0, 0, 0, 0);
  border-radius: 5px;
}