.movie-detail .breadcrums {
  background-color: #f1f0e5;
  border-bottom: 1px solid #cacac0;
  padding: 5px 0;
  margin: 0;
  width: 100%;
  height: 30px;
}

.movie-detail .breadcrums ul{
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
}

.movie-detail .breadcrums ul li {
  margin: 0;
}

.movie-detail .breadcrums ul li.home a {
  background: url(./../img/bg-cgv-bread-home.png) no-repeat scroll left center transparent;
  text-indent: -9999px;
  padding: 0 9px;
  width: 17px;
  height: 15px;
}

.movie-detail .breadcrums ul li span {
  background: url(./../img/bg-cgv-icon-arrow.png) no-repeat scroll center center transparent;
  text-indent: -9999px;
  padding: 0 15px;
  display: inline-block;
  float: none;
}

.main-header {
  border-bottom: 1px solid #000;
  margin-top: 20px;
}

.main-body {
  margin-top: 20px;
  width: 100%;
}

.main-body-description h3 {
  border-bottom: 1px solid #cacac0;
  width: 800px;
  padding-bottom: 10px;
}

.detail-trailer input[type='radio']-trailer {
  margin-top: 30px;
  margin-bottom: 30px;
}

.detail-trailer label {
  width: 120px;
}

.detail-trailer input[type='radio'] {
  display: none;
}

/* Booking.css */
.c-booking-items{
  border-bottom: 2px solid black;
  z-index: 999;
  display: inline-flex;
}
.items-left{
  float: left; 
  display: inline-grid;
  margin-right: 15px;
}
.items-right{
  display: inline-grid;
  font-size: 32px;
  font-weight: 600;
}
.c-booking-room{
  margin-top: 25px;
  z-index: 999;
}
.c-booking-room .room-title{
  font-size: 19px;
  font-weight: 600;
}
.c-booking-room .room-time{
  margin-top: 10px;
  display: inline-flex;
  border-bottom: 1px solid black;
}
.c-booking-room .room-time:last-child{
  border-bottom: none;
}
.c-booking-stats {
  display: flex;
  position: relative;
  z-index: 1;
  min-height: 450px;
}
.c-booking-stats .booking-stats-id{
  margin-right: 50px;
  position: absolute;
  top: 0;
  left: 100px;
}
.c-booking-stats .booking-stats-id .booking-stats-list-items{
  display: flex;
}
.c-booking-stats .booking-stats-id .booking-stats-title{
  font-size: 19px;
  font-weight: 600;
  margin-bottom: 10px;
}
.c-booking-stats .booking-stats-list-row{
  display: inline-block;
  position: absolute;
  bottom: 44px;
  left: 0;
}
#row-room-3{
  bottom: -11px;
}
.c-booking-stats .booking-stats-list-row .booking-stats-row{
  display: flex !important;
  justify-content: center !important;
  margin-bottom: 1rem !important;
  margin-right: 3rem;
}
.booking-stats-items{
  display: flex !important;
  justify-content: center !important;
  margin-bottom: 1rem !important;
  margin-right: 0.5rem;
}
.c-booking-stats .booking-stats-type{
  position: absolute;
  bottom: 58px;
  right: 0;
}
.booking-stats-title{
  margin-bottom: 30px;
}
.c-screen{
  max-width: 250px;
  margin-bottom: 30px;
  min-height: 100px;
  background-color: blueviolet;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 23px;
  font-weight: 700;
  color: aqua;
  text-align: center;
}